@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


#menu{
	position: relative;
	top: 0;
	width:100%;
	height: 0;
	z-index: 1000;
    font-family: Poppins;
    

}

#navigator{
	position: absolute;
	width: 100%;
	height: 56px;
	display:flex;
	flex-direction:row;
	z-index: 15;
}

#left_navigator,
#right_navigator,
#mid_navigator{
	height: 100%;
	display:flex;
	flex-direction:row;
	align-items:center;
	z-index: 1000;
}

#left_navigator{
	width: 45%;
    position:relative;
    z-index: 1001;
}

#logo{
	height:24px;
	padding-left:48px;
	padding-block:6px;
}

#logo svg {
	height:12px;
	color:black;
}

#mid_navigator{
	width:30%;
	display: flex;
    justify-content: center; 
	margin-left: 4%;
}

#Shop-menu-item button span a{
    text-decoration: none;
}

#menu_container{
	width:100%;
}

#menu_container li{
	padding: 10px;
}

#menu_container ol{
	display:flex;
	flex-direction:row;
	align-items:center;
	padding-inline: 40px;
	list-style-type:none;
	justify-content: center; 
    padding-inline: 0; 
	
}

#menu_container ol li button{
	background-color: transparent;
	border:none;
    position:relative;
    z-index: 1001;
}

#menu_container ol li button:hover{
	background-color: #F2F2F2;
	padding: 5px;
	border-radius: 8px;
}

#menu_container ol li button span{
	font-size: 1rem;
	font-weight: 500;
	/* font-weight: 700; */
	color: black;
    font-family: Poppins;
}

#right_navigator{
	width:45%;
	margin-left: 4%;
}

#icon_menu{
	position:relative;
	width:100%;
	right:15px;	
}

#icon_menu ol{
	display:flex;
	flex-direction:row;
	align-items:center;
	list-style-type:none;
	justify-content:end;

}

#icon_menu ol li{
	padding-inline: 5px;
}

#icon_menu svg{
	width: 25px;
	color: black;
}

.footer {
    /* position: absolute;
    left: 0;
    bottom: 0; */
    width: 100%;
    background-color: black;
    color: white;
    border-bottom-left-radius: 0.25cm;
    border-bottom-right-radius: 0.25cm;
    display: flex;
    /* transform: translate(0px, 200vh); */
    text-align: center;
    padding: 20px;
    float: left;
    justify-content: center;
    /* margin-top: 20px; */
    
}

.footer li a{
    width: 100%;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    
    
}


.footeritem{
	text-align: center;
}

#footerlist{
	display: flex;
	list-style-type: none;
    margin: auto;
    
}

#footerlist li{
	letter-spacing: 1px;
	font-size: 12px;
	padding: 8px;
    font-family: Poppins;
    
}


#Vehicles-dropdown,
#Energy-dropdown,
#Charging-dropdown,
#Shop-dropdown,
#Discover-dropdown{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    background-color: #fff;
    display: none;
    flex-direction: column;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
    align-items: center;
    z-index: 999;
}

#Energy-menu-item:hover #Energy-dropdown{
    display: flex;
}


#Vehicles-menu-item:hover #Vehicles-dropdown{
    display: flex;
}

#Charging-menu-item:hover #Charging-dropdown{
    display: flex;
}

#Shop-menu-item:hover #Shop-dropdown{
    display: flex;
}

#Discover-menu-item:hover #Discover-dropdown{
    display: flex;
}

#Vehicles-dropdown .Vehicles-row,
#Energy-dropdown .Energy-row,
#Charging-dropdown .Charging-row,
#Shop-dropdown .Shop-row,
#Discover-dropdown .Discover-row{
    height: 100%;
    display: flex;
    align-items: center;
}

#Vehicles-dropdown .Vehicles-row:first-child,
#Energy-dropdown .Energy-row:first-child,
#Charging-dropdown .Charging-row:first-child,
#Shop-dropdown .Shop-row:first-child,
#Discover-dropdown .Discover-row:first-child{
    border-bottom: 1px solid #aeaeae;

}

#Vehicles-dropdown a,
#Energy-dropdown a,
#Charging-dropdown a,
#Shop-dropdown a,
#Discover-dropdown a{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 90%;
    height: 50%;
    color: black;
    font-size: 16px;
    justify-content: space-around;
    text-decoration: none;
    
}



#Vehicles-dropdown a:hover,
#Energy-dropdown a:hover,
#Charging-dropdown a:hover,
#Shop-dropdown a:hover,
#Discover-dropdown a:hover{
    text-decoration: underline;
}

#Vehicles-menu-item:hover body,
#Energy-menu-item:hover body,
#Charging-menu-item:hover body,
#Shop-menu-item:hover body,
#Discover-menu-item:hover body{
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}

.backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    transition: backdrop-filter 0.3s ease, opacity 0.3s ease;
    z-index: 998;
}

.category {
    text-align: center;
    padding: 5%;
    display: flex;
    flex-direction: column;
    transform: translate(-7vw, 0px);
}

.category img {
    max-width: 220px; 
}

.vehicle-name,
.Energy-name,
.Charging-name,
.Shop-name,
.Discover-name{
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

.vehicle-links,
.Energy-links,
.Charging-links,
.Shop-links,
.Discover-links{
    margin-top: 5px;
}

.selection-vehicles,
.selection-Energy,
.selection-Charging,
.selection-Shop{
    display: flex;
    flex-direction: row;
}

.selection-vehicles a,
.selection-Energy a,
.selection-Charging a,
.selection-Shop a{
    text-decoration: none;
    color: #000; 
    margin: 0 10px;
    font-size: 14px;
}

#Vehicles-menu-item:hover .backdrop,
#Energy-menu-item:hover .backdrop,
#Charging-menu-item:hover .backdrop,
#Shop-menu-item:hover .backdrop,
#Discover-menu-item:hover .backdrop {
    display: block;
    backdrop-filter: blur(4px);
}

.vehicle-name a,
.Energy-name a,
.Charging-name a,
.Shop-name a,
.Discover-name a{
    margin: 0 10px;
    text-align: center;
}

.Discover-name{
    width: 25vw;
}